<div class="container-fluid padding-top "  >
        <div class="row    ">
            <div class="col-md-3 col-sm-3 center"  >
              <img src="css/profile.png" alt="Profile" class="image" style="width:auto; height:81%;" >

            </div>

            <div class="col-md-6 col-sm-6 table-responsive center">
            <table class="
            table table-borderless   ">
              <tr>
               <td><strong>Markets</strong></td>
                <td >Fill in those that are your customers</td>
                <td ></td>
              </tr>
              <tr>
                  <td><strong>Pains</strong></td>
                  <td>What is the pain statement that you are trying to solve for them? </td>
                  <td ></td>

                </tr>
                <tr>
                    <td><strong>Benefits</strong></td>
                    <td>What is the benefit that will match the pain statement? </td>
                    <td> <button class="btn btn-outline-secondary" style="color: black;">Edit Profile</button> </td>
                  </tr>
            </table>
            </div>

          </div>
    </div>


            <div id=" demo container-fluid center">

              <div class="row">
                <div class="col-md-3 center">
                    <div class="circlechart" data-percentage="27">Product</div>
                </div>
                <div class="col-md-3 center">
                    <div class="circlechart" data-percentage="3">Runway</div>
                </div>
                <div class="col-md-3 center">

              <div class="circlechart" data-percentage="24">Conversion</div>
                </div>
                <div class="col-md-3 center">

              <div class="circlechart" data-percentage="100">Engagement</div>
                          </div>

              </div>




          <!-- <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br><br> -->
<div class="container-fluid">
        <div class="alert alert-warning" role="alert">
           <strong>Small conversion? </strong> Learn what you can do to <a href="#" class="alert-link">rise your conversion</a>.
          </div>
    </div>


    <div class="container-fluid">
        <div class="alert alert-danger" role="alert">
           <strong>Low product score? </strong> <a href="#" class="alert-link">Try this</a> to get more...
          </div>
    </div>